Container arm should
	Have a command that moves to an angle (in OI, we will define what angle each position is).  This should be an angle not a voltage 
		There will be a button for each position in final operator console
	Have fine control on a digital joystick(2 buttons).  It should stay in the state it was fine controlled to.
	Have manual override which doesn't rely on a sensor, and sets raw motor values. 
Totevator should
	Have a command that sets it to a position (this should be passed in in useful units(feet, inches): not encoder ticks)
	Have a command that moves it up or down an amount that will be passed in (this should be passed in in useful units(feet, inches))
	Have fine control on a digital joystick(2 buttons): It should stay in the state it was fine controlled to.
	Have manual override which doesn't rely on a sensor, and sets raw motor values using the same joystick above.
Wrist should(and I think can)
	be able to move up
	be able to move down
Claw should(and I think can)
	be able to open one side
	be able to open other side
	be able to open both sides at once.  
Drive should
	Have acceleration and PID encoders integrated
	Have manual override which disables encoders, encoder PIDs, and drives motors on raw input from joysticks.
	Have a drive straight for distance command(which works for strafing as well)
Auto should
	Have a picker on smart dashboard
	Be written 